<div class="bet-card">
  <h2>Fazer Aposta</h2>

  <div class="tab-container">
    <button [class.active]="selectedType === 'group'" (click)="setType('group')">
      Grupo <span class="multiplier">(18x)</span>
    </button>
    <button [class.active]="selectedType === 'dezena'" (click)="setType('dezena')">
      Dezena <span class="multiplier">(60x)</span>
    </button>
    <button [class.active]="selectedType === 'thousands'" (click)="setType('thousands')">
      Milhar <span class="multiplier">(4000x)</span>
    </button>
  </div>

  @if (selectedType == "group"){
    <p class="description">
        Escolha o número do seu bicho (1-25). Paga <strong>18x</strong> se acertar.
    </p>
  }

  @if (selectedType == "dezena"){
    <p class="description">
        Escolha uma dezena (00-99). Paga <strong>60x</strong> se acertar.
    </p>
  }

  @if (selectedType == "thousands"){
    <p class="description">
        Escolha um milhar (0000-9999). Paga <strong>4000x</strong> se acertar.
    </p>
  }
  

  <div class="input-group">
    <label>Número</label>
    <input type="text" placeholder="..." [(ngModel)]="betNumber">
  </div>

  <div class="input-group">
    <label>Valor da Aposta (R$)</label>
    <input type="number" placeholder="0,00" [(ngModel)]="betAmount">
  </div>

  <div class="amount-shortcuts">
    <button (click)="setAmount(5)">R$ 5</button>
    <button (click)="setAmount(10)">R$ 10</button>
    <button (click)="setAmount(20)">R$ 20</button>
  </div>

  <button class="confirm-btn" (click)="confirmBet()">
    Confirmar Aposta
  </button>
</div>