<div class="bet-card">
  <h2>Fazer Aposta</h2>

  <div class="tab-container">
    <button [class.active]="betType === 'GROUP'" (click)="setType('GROUP')">
      Bicho <span class="multiplier">(18x)</span>
    </button>
    <button [class.active]="betType === 'TENS'" (click)="setType('TENS')">
      Dezena <span class="multiplier">(60x)</span>
    </button>
    <button [class.active]="betType === 'THOUSANDS'" (click)="setType('THOUSANDS')">
      Milhar <span class="multiplier">(4000x)</span>
    </button>
  </div>

  @if (betType == "GROUP"){
    <p class="description">
        Escolha o número do seu bicho (1-25). Paga <strong>18x</strong> se acertar.
    </p>
  }

  @if (betType == "TENS"){
    <p class="description">
        Escolha uma dezena (0-99). Paga <strong>60x</strong> se acertar.
    </p>
  }

  @if (betType == "THOUSANDS"){
    <p class="description">
        Escolha um milhar (0-9999). Paga <strong>4000x</strong> se acertar.
    </p>
  }
  

  <div class="input-group">
    <label>Número</label>
    <input 
      type="number" 
      placeholder="Digite o número que deseja apostar" 
      [(ngModel)]="betNumber" 
      (ngModelChange)="validateInput()"
      [class.input-error]="numberErrorMessage"
    >
    
    @if (numberErrorMessage) {
      <span class="error-text">{{ numberErrorMessage }}</span>
    }
  </div>

  <div class="input-group">
    <label>Valor da Aposta (R$)</label>
    <input type="number" 
      placeholder="Digite o valor que deseja apostar" 
      [(ngModel)]="betAmount"
      (ngModelChange)="validateInput()">
  
    @if (amountErrorMessage) {
      <span class="error-text">{{ amountErrorMessage }}</span>
    }
  </div>

  <div class="amount-shortcuts">
    <button (click)="setAmount(5)">R$ 5</button>
    <button (click)="setAmount(10)">R$ 10</button>
    <button (click)="setAmount(20)">R$ 20</button>
  </div>

  <button class="confirm-btn" 
    (click)="confirmBet()"
    [disabled]="numberErrorMessage || !betNumber || !betAmount || betAmount <= 0">
    Confirmar Aposta
  </button>
</div>

@if (isLoading) {
  <div class="loading-overlay">
    <div class="spinner-container">
      <div class="spinner"></div>
      <p>Processando sua aposta...</p>
    </div>
  </div>
}

@if (showModal && betResult){
  <div class="modal-overlay">
    <div class="modal-content">
      <h2>Resumo da aposta: </h2>
      <div class = "result-info">
        <p><strong>Seu número: </strong> {{ betResult?.betNumber }}</p>
        
        @if((betResult?.payout ?? 0) > 0){
            <p class="win"><strong>Você ganhou no Jogo do Bicho!! Parabéns!</strong> </p>
            <p class="win-prize"> + R$ {{ betResult?.payout | number:'1.2-2' }} </p>

        } @else{
            <p class="not-win">Infelizmente não foi dessa vez que você ganhou. Tente novamente!</p>
        }

      </div>

      <div class="draw-section main">
        <div class="ball">
          <span class="number">{{ betResult?.result?.mainDraw?.number }}</span>
          <span class="animal">{{ betResult?.result?.mainDraw?.animal?.name }}</span>
        </div>
      </div>

      <div class="draw-section">
        <div class="secondary-list">
          @for (draw of betResult?.result?.secondaryDraws; track draw.id) {
            <div class="mini-ball">
              {{ draw?.number }} - {{ draw?.animal?.name }}
            </div>
          }
        </div>
      </div>

      <button class="btn-clos" (click)="closeModal()">Fechar</button>
    </div>
  </div>
}

@if (insuficientBalance){
  <div class="alert alert-danger mt-3" role="alert">
    Saldo Insuficiente para realizar a aposta!
  </div>
}

