<app-nav></app-nav>
<div class="container my-5 about-container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      
      <section class="section-text mb-5">
        <h2>O que é o BichoFull?</h2>
        <p>
          O BichoFull é um projeto desenvolvido para fins educacionais durante a disciplina Laboratório
          de Produção de Software, ministrada pelo professor Ronem Lavareda do IFAM campus Parintins. O projeto
          simula o conhecido Jogo do Bicho, sendo possível simular apostas, depósitos e verificar histórico de
          apostas realizadas.
        </p>

        <div class="alert alert-primary" role="alert" style="text-align: justify;">
            O site não possui nenhum envolvimento com apostas reais nem com o Jogo do Bicho tradicional, 
            tendo sido desenvolvido unicamente para fins educacionais. 
        </div>        

        <hr class="sep-text">
        
        <h2>Origem do Jogo do Bicho</h2>
        <p>
            Tudo começou no Rio de Janeiro, com o Barão João Batista Viana Drummond, fundador
            do Jardim Zoológico de Vila Isabel. Diante de uma crise fincaneira e da falta de subsídios do
            governo, o Barão precisava atrair público para manter os animais. Ele teve uma ideia: ao comprar 
            o ingresso, o visitante recebia um bilhete com a estampa de um dos 25 bichos do local. No final 
            do dia, um bicho era sorteado e quem tivesse a estampa correspondente ganhava um prêmio em dinheiro, 
            que chegava a ser 20 vezes o valor da entrada.
        </p>
        <p>
            A iniciativa foi um sucesso estrondoso. Em pouco tempo, as pessoas não iam mais ao zoológico para 
            ver os animais, mas apenas para apostar. O "jogo" rapidamente saiu dos portões da Vila Isabel e 
            ganhou as ruas do Rio de Janeiro. Os grupos de 4 números (como o Grupo 1 para o Avestruz e o Grupo 25 para a Vaca) tornaram-se o padrão que conhecemos hoje.
        </p>

        <hr class="sep-text">

        <h2>Jogo do Bicho é Contravenção Penal</h2>
        <p>
            Apesar do sucesso popular, a prática não demorou a entrar na mira das autoridades. Já em 1895, apenas 
            três anos após sua criação, o jogo foi proibido pela primeira vez sob a justificativa de que a "promoção 
            comercial" do Barão havia se transformado em um jogo de azar desenfreado. No entanto, a repressão inicial 
            não foi suficiente para contê-lo; o Jogo do Bicho mergulhou na clandestinidade, criando uma rede de 
            "bicheiros" que operavam com base na confiança e no apelo cultural, tornando-se uma febre em todo o país.
        </p>
        <p>
            A consolidação jurídica dessa proibição veio com o Decreto-Lei nº 3.688, de 1941, a Lei das Contravenções 
            Penais, que tipificou a exploração do jogo como uma infração contra os costumes e a economia popular. 
            Desde então, o Jogo do Bicho é oficialmente uma contravenção penal no Brasil. Embora não seja tecnicamente 
            classificado como um "crime" (que possui penas mais severas), ele permanece ilegal, operando paralelamente 
            ao Estado e exercendo uma influência profunda no folclore, no Carnaval e na organização social de diversas 
            comunidades brasileiras.
        </p>

      </section>


    </div>
  </div>
</div>