.balance-content{
    width: 100%;
    background: #ffffff;
    border: 1px solid rgb(198, 194, 194);
    border-radius: 24px;
    padding: 20px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    box-sizing: border-box; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

h2{
    font-weight: 700; 
    color: #3f51b5;
    font-family: fantasy;
    font-weight: 200;
    font-size: 1.4rem;
}

.data-balance{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(201, 227, 201);
    border-radius: 50px;
    font-size: 1.2rem;
    color: #3f51b5;
}

.deposit-area {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.deposit-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 1rem;
  width: 7rem;
}

p{
  color: #3f51b5;
  font-size: 1rem;
  font-weight: bold;
}

.deposit-btn {
    width: 100%;
    background: #3f51b5; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.deposit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 300px;
  animation: slideIn 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}