<app-nav></app-nav>
<div class="home">
    <div class="home-layout">
        <section class="animals-area">
            <app-animal-list 
            (selectedAnimal)="handleAnimalSelection($event)"
            [currentSelectedId] = "selectedAnimalChild?.id"
            ></app-animal-list>
        </section>

        <section class="content-area">
            <app-bet 
                [selectedAnimal]="selectedAnimalChild"
                (betNumberChange)="handleBetNumberManualChange($event)"    
            ></app-bet>
        </section>
    </div>
</div>
