.home{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f3f1eb;
}

.home-layout {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  gap: 30px;
  padding: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;

  .animals-area {
    flex: 0 0 auto; 
    width: 100%;
    max-width: 760px;
    
    app-animal-list {
      display: block;
      width: 100%;
    }
  }

  .content-area {
    flex: 1; 
    min-width: 250px; 
    max-width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .home-layout {
    flex-direction: column;
    align-items: center; // Centraliza tudo no mobile

    .animals-area {
      max-width: 100%; // No mobile, pode ocupar tudo
    }

    .content-area {
      width: 100%;
    }
  }
}