name: Backend CI

on:
  push:
    paths:
      - 'bichofull-backend/**'
  pull_request:
    paths:
      - 'bichofull-backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: bichofull-backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean install